* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */ /*this made the display not appear*/
    padding: 2rem;
    /* margin: auto; */ /*makes it centered, keeping it left for the split screen view*/
}

#container,
#bttns,
#number-container,
#num-bttns,
#misc-bttns,
#operator-container {
    gap: 0.5rem;
}

#bttns, 
#number-container,
#num-bttns,
#misc-bttns,
#operator-container {
    display: flex;
}

.bttn {
    padding: 1rem; 
}

#number-container {
    flex-direction: column;
    flex: 0.75;
}

#num-bttns{
    flex-wrap: wrap;
}

.num {
    flex: 1 0 calc(33.333% - 0.5rem);
}

#operator-container {
    flex-direction: column;
    flex: 0.25;
}

#display{
    background-color: rosybrown;
    height: 6rem;
}