* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    /* margin: auto; */
    /*makes it centered, keeping it left for the split screen view*/
}

#container,
#bttns,
.delete-container,
#number-container,
#num-bttns,
#misc-bttns,
#operator-container {
    gap: 0.5rem;
}

#bttns,
.delete-container,
#number-container,
#num-bttns,
#misc-bttns,
#operator-container {
    display: flex;
}

.bttn {
    padding: 1rem 0.5rem; /*left and right are overwritten by default button paddings, need to reset for complete control*/
}

.clear,
.delete {
    flex: 1;
}

#number-container {
    flex-direction: column;
    flex: 0.75;
}

#num-bttns {
    flex-wrap: wrap;
}

.num {
    flex: 1 0 30%;
}

#operator-container {
    flex-direction: column;
    flex: 0.25;
}

#display {
    background-color: rgb(240, 209, 209);
    height: 6rem;
}